@font-face {
  font-family: 'Chicago';
  src: url('/fonts/ChicagoFLF.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#666666] text-black overflow-hidden;
    font-family: 'Chicago', -apple-system, BlinkMacSystemFont, sans-serif;
  }

  * {
    @apply select-none;
  }
}
