@font-face {
  font-family: 'Chicago';
  src: url('/fonts/ChicagoFLF.ttf') format('truetype');
}

@font-face {
  font-family: 'Torrance';
  src: url('/fonts/Torrance.ttf') format('truetype');
}

@font-face {
  font-family: 'Monaco';
  src: url('/fonts/Monaco.ttf') format('truetype');
}

@font-face {
  font-family: 'Geneva';
  src: url('/fonts/Geneva.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#666666] text-black overflow-hidden;
    font-family:
      'Chicago',
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
  }

  p {
    image-rendering: pixelated;
  }

  * {
    @apply select-none;
  }
}

/* Add these styles for react-resizable */
.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 0;
  right: 0;
  background: transparent;
  cursor: se-resize;
}

/* Hide resize handle when window is not focused */
.react-resizable-handle {
  display: none;
}

/* Show resize handle only when window is focused */
.window-focused .react-resizable-handle {
  display: block;
}
